# flyctl launch added from .gitignore
**\node_modules
**\.env
**\ormlogs.log
**\package-lock.json
**\build
**\coverage
**\dist

# flyctl launch added from src\uploads\.gitignore
src\uploads\**\*
!src\uploads\**\.gitignore
fly.toml
