**\node_modules
**\.env
**\ormlogs.log
**\build
**\coverage

src\uploads\**\*
!src\uploads\**\.gitignore
fly.toml

.env.*
docker-compose*


## NOTE FOR LINUX (VPS) ##
# we need to change the back slash to front slash \ -> / for file pathing