PRODUCTION=
HTTP_HOST=
HTTP_PORT=
HTTP_PREFIX=
DATABASE=
DB_IDENTIFIER=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USER=
DB_PASSWORD=
JWT_SECRET=
SUPER_ADMIN_LEVEL=
EXPIRES_IN=
SUPER_ADMIN_JWT=
TESTING=

# Emailing
GMAIL_SUPER_ADMIN=
GMAIL_USER=
SMTP_EMAIL=
SMTP_PASS=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Docker Mysql
MYSQL_DATABASE=
MYSQL_ALLOW_EMPTY_PASSWORD=
MYSQL_ROOT_PASSWORD=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379